<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_155.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.1150682361429193" length="10.084123755358437"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="1.070646961345936 -0.24439755991214043 4.921013401243264" rpy="0.0 0.21956509228955798 -0.22442555555656904"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.1150682361429193" length="10.084123755358437"/>
      </geometry>
      <origin xyz="1.070646961345936 -0.24439755991214043 4.921013401243264" rpy="0.0 0.21956509228955798 -0.22442555555656904"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.04065238388329733" length="1.3545437752367668"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.04065238388329733" length="1.3545437752367668"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.013981851349549065" length="0.21642178838264212"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.013981851349549065" length="0.21642178838264212"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.03239171039345576" length="2.8495348814257446"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.03239171039345576" length="2.8495348814257446"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.010124334030829595" length="0.8487197145277049"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.010124334030829595" length="0.8487197145277049"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.027921599385495596" length="2.4050212921383207"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.027921599385495596" length="2.4050212921383207"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.01" length="0.5353427357877099"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.01" length="0.5353427357877099"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.045422579892045276" length="2.4716980954461714"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.045422579892045276" length="2.4716980954461714"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.016694388593711248" length="0.5954616258913361"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.016694388593711248" length="0.5954616258913361"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.032849077369999785" length="2.1389294518659527"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.032849077369999785" length="2.1389294518659527"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.011220923504391548" length="0.4137502310735036"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.011220923504391548" length="0.4137502310735036"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.07310959354450683 0.08365302948734764 2.5534796240177053" rpy="0.04438456551641101 1.0527646979074057 2.857099199542378"/>
  </joint>
  <joint name="joint_0_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5337414577822296 -0.5180505901999954 4.001712752281588" rpy="-0.9815308570210581 1.4548017666418895 2.386747014452087"/>
  </joint>
  <joint name="joint_0_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.1956872105703493 -1.0528579378338316 2.9108724017630405" rpy="-0.4383586435656733 1.1922414504092627 -1.4272106625203995"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.7242562345285515 0.4631792768417888 3.388422944971143" rpy="0.666924074995612 1.3139999614915014 1.2199192627694189"/>
  </joint>
  <joint name="joint_0_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.969504791760544 -1.1026544663207123 4.754636717875341" rpy="-0.37728366185050166 0.946004868456409 -1.9565824364308604"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.1572714345157944 -0.10874061054602471 2.409108852884196" rpy="1.5422642665928945 0.5307001834862597 -0.13977913285059307"/>
  </joint>
  <joint name="joint_3_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.08438801294011432 -0.7880580375421279 3.835837659114709" rpy="1.8840188109837899 0.0645935316232675 0.22908629921612886"/>
  </joint>
  <joint name="joint_5_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.3038731492798274 -1.5108763959858214 2.860545760284854" rpy="-2.3360303329517347 0.5089821048538702 2.3590710351110458"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.4456805624406557 -0.042913407989575755 3.3436275916644207" rpy="-1.3856496367396984 0.20317207091564377 -2.6171044488756574"/>
  </joint>
  <joint name="joint_9_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.050265611078703 -0.5168819310111473 4.579697015913991" rpy="0.6265353806935868 0.5816703922089853 1.6452598117531647"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
  <material name="semantic_material">
    <color rgba="1. 0. 0. 1."/>
  </material>
</robot>
