<?xml version="1.0"?>
    <model>
    <name>tree_194</name>
    <version>1.0</version>
    <sdf version="1.9">tree_194.urdf</sdf>

    <author>
        <name>Mihir Kulkarni</name>
        <email>mihirk284@gmail.com</email>
    </author>

    <description>
        Model of a tree.
    </description>
    </model>
    