<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_100.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.1300346016063631" length="11.530072133398374"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="0.028644819600504096 -0.10086884637885535 5.764082390153934" rpy="0.0 0.018189489959984515 -1.2941000213377996"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.1300346016063631" length="11.530072133398374"/>
      </geometry>
      <origin xyz="0.028644819600504096 -0.10086884637885535 5.764082390153934" rpy="0.0 0.018189489959984515 -1.2941000213377996"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.03438072035013167" length="1.8622904483748621"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.03438072035013167" length="1.8622904483748621"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.01" length="0.44585616209993273"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.01" length="0.44585616209993273"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.046451324963606856" length="2.5334716289237136"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.046451324963606856" length="2.5334716289237136"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.013297700939450876" length="0.36487378494356365"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.013297700939450876" length="0.36487378494356365"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.04503571105394811" length="2.7893950629296906"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.04503571105394811" length="2.7893950629296906"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.011558687762395558" length="0.5779418987136636"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.011558687762395558" length="0.5779418987136636"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.038173090191541095" length="1.8947998732057243"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.038173090191541095" length="1.8947998732057243"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.01" length="0.37940138767708526"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.01" length="0.37940138767708526"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.046457345620369433" length="1.7917184061653715"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.046457345620369433" length="1.7917184061653715"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.01517771701984018" length="0.4276645962429098"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.01517771701984018" length="0.4276645962429098"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.7962791820388972 0.40428817655167193 5.786208710749193" rpy="3.030337774464901 1.4139265923054112 -2.6690474710078207"/>
  </joint>
  <joint name="joint_0_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.19961979436312222 0.9627509761253659 4.373734870759925" rpy="0.013821608115054299 0.9667292754702572 1.412655216433923"/>
  </joint>
  <joint name="joint_0_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.8443245327066323 0.9280710951102182 4.564674938106689" rpy="0.04013404091058207 1.1901384649641167 0.9241442197591357"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.8688032975160287 -0.12264339741833807 8.172004605058357" rpy="0.036594433113277994 1.0685122563348086 0.05666013697134729"/>
  </joint>
  <joint name="joint_0_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.7335537412129262 0.387723701745879 3.6556000503451793" rpy="0.05224965847665197 1.2301723898771428 0.6124406986125358"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.0733089266031919 0.32640905639593415 5.731162615551186" rpy="-1.711737660006757 -0.13304823596919704 -2.3775920261668837"/>
  </joint>
  <joint name="joint_3_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.08838390521579301 0.3999430680566042 4.199101886848087" rpy="0.06457304377765123 0.6263108199989056 -1.743977928869311"/>
  </joint>
  <joint name="joint_5_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.0712949332474535 1.549745572436352 4.868939206021099" rpy="1.159884349229068 0.16182218834835366 -2.92129615578222"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="1.1385782973791083 0.06006378409113888 8.268631667226078" rpy="1.6919933053839993 0.5456113574618358 2.892246505378477"/>
  </joint>
  <joint name="joint_9_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.7540194913037149 0.38637689465957054 3.8750451695554635" rpy="-0.05594814571070037 0.0017906123738433907 -2.564858778354008"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
  <material name="semantic_material">
    <color rgba="1. 0. 0. 1."/>
  </material>
</robot>
