<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_144.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.15971074024099885" length="8.834237025370975"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="-0.661428698345554 0.347968702979796 4.353431498698505" rpy="1.2281867814704178e-17 0.17001769086587368 2.6572943006058414"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.15971074024099885" length="8.834237025370975"/>
      </geometry>
      <origin xyz="-0.661428698345554 0.347968702979796 4.353431498698505" rpy="1.2281867814704178e-17 0.17001769086587368 2.6572943006058414"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.05417957798703485" length="2.298607455773302"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.05417957798703485" length="2.298607455773302"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.020685769704016154" length="0.32150370397059896"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.020685769704016154" length="0.32150370397059896"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.04635227686141318" length="1.2134457239384697"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.04635227686141318" length="1.2134457239384697"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.018412152143671496" length="0.2607013618654917"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.018412152143671496" length="0.2607013618654917"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.03632542942969433" length="1.7049863672392394"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.03632542942969433" length="1.7049863672392394"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.013459668776865408" length="0.45697181691309613"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.013459668776865408" length="0.45697181691309613"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.03802052091698522" length="0.998202831265361"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.03802052091698522" length="0.998202831265361"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.010947670937201478" length="0.18360674333337132"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.010947670937201478" length="0.18360674333337132"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.03747315467750446" length="1.4782839484611006"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.03747315467750446" length="1.4782839484611006"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.01225347207249906" length="0.3329244004955082"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.01225347207249906" length="0.3329244004955082"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.05965189536482445 1.2901328773444358 4.481233591674737" rpy="-0.6144289274882277 1.2745112060228883 0.389266389690561"/>
  </joint>
  <joint name="joint_0_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.8005590770629438 0.5328459012873284 2.475367860851855" rpy="-0.09645737051969067 1.2390760480658947 2.382244680977142"/>
  </joint>
  <joint name="joint_0_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.3259731696902741 0.8989417658944184 4.472653251391555" rpy="-3.045963660663437 1.1812895383517337 -0.6087400256751224"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.6772937064266336 -0.15116828528382575 4.368143298203036" rpy="1.1234968512074641 1.401112519039991 -0.4802021970766653"/>
  </joint>
  <joint name="joint_0_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5025721269175156 0.007435891326546682 6.19362298945392" rpy="0.09645407037392845 0.9057246640435402 -0.7624650267531511"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.17899175927965727 1.3676506486687374 4.416931762335607" rpy="1.9214799383440098 0.3352637983987179 -2.358261479525629"/>
  </joint>
  <joint name="joint_3_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.689757915480329 0.37597175533915106 2.2883044002676765" rpy="2.6907965975989567 0.345419607217579 -0.6651895727088525"/>
  </joint>
  <joint name="joint_5_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-1.3869661512571725 1.1399807900066632 4.563880675143283" rpy="-0.8595667915112707 -0.6281835734544469 -0.4357798752737313"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.6474140641499044 -0.10647088136413829 4.431431011174721" rpy="0.4690469009167575 -0.5353531727948605 1.2483814540125087"/>
  </joint>
  <joint name="joint_9_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.25982759321488286 -0.02638224807202144 6.336423023081795" rpy="1.5418226488018258 0.6610005550685327 2.2307665641837366"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
  <material name="semantic_material">
    <color rgba="1. 0. 0. 1."/>
  </material>
</robot>
