<?xml version='1.0' encoding='UTF-8'?>
<robot name="tree_173.urdf">
  <link name="branch_0">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_0_visual">
      <geometry>
        <cylinder radius="0.1583647576874846" length="10.970380555323192"/>
      </geometry>
      <material name="branch_material"/>
      <origin xyz="-0.03445544517840276 0.00032976652325948555 5.485082050043089" rpy="6.775953245105824e-21 0.006281869559422087 3.1320221356879174"/>
    </visual>
    <collision name="branch_0_collision">
      <geometry>
        <cylinder radius="0.1583647576874846" length="10.970380555323192"/>
      </geometry>
      <origin xyz="-0.03445544517840276 0.00032976652325948555 5.485082050043089" rpy="6.775953245105824e-21 0.006281869559422087 3.1320221356879174"/>
    </collision>
  </link>
  <link name="branch_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_1_visual">
      <geometry>
        <cylinder radius="0.05353891902072602" length="1.1981485466221984"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_1_collision">
      <geometry>
        <cylinder radius="0.05353891902072602" length="1.1981485466221984"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_2">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_2_visual">
      <geometry>
        <cylinder radius="0.016049825621138047" length="0.2812249001370767"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_2_collision">
      <geometry>
        <cylinder radius="0.016049825621138047" length="0.2812249001370767"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_3">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_3_visual">
      <geometry>
        <cylinder radius="0.03544295422981381" length="2.3207348580119893"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_3_collision">
      <geometry>
        <cylinder radius="0.03544295422981381" length="2.3207348580119893"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_4">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_4_visual">
      <geometry>
        <cylinder radius="0.01194106468894594" length="0.35398831421336185"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_4_collision">
      <geometry>
        <cylinder radius="0.01194106468894594" length="0.35398831421336185"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_5">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_5_visual">
      <geometry>
        <cylinder radius="0.039134689029304566" length="1.2440957314511243"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_5_collision">
      <geometry>
        <cylinder radius="0.039134689029304566" length="1.2440957314511243"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_6">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_6_visual">
      <geometry>
        <cylinder radius="0.012772399810753341" length="0.3476872024567738"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_6_collision">
      <geometry>
        <cylinder radius="0.012772399810753341" length="0.3476872024567738"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_7_visual">
      <geometry>
        <cylinder radius="0.03917853420164008" length="1.36184260431337"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_7_collision">
      <geometry>
        <cylinder radius="0.03917853420164008" length="1.36184260431337"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_8_visual">
      <geometry>
        <cylinder radius="0.01" length="0.3202148424981211"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_8_collision">
      <geometry>
        <cylinder radius="0.01" length="0.3202148424981211"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_9">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_9_visual">
      <geometry>
        <cylinder radius="0.03564822756948018" length="1.7825735455515832"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_9_collision">
      <geometry>
        <cylinder radius="0.03564822756948018" length="1.7825735455515832"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="branch_10">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="branch_10_visual">
      <geometry>
        <cylinder radius="0.01" length="0.368437504408614"/>
      </geometry>
      <material name="semantic_material"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision name="branch_10_collision">
      <geometry>
        <cylinder radius="0.01" length="0.368437504408614"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint_0_1" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.36621285818474425 0.3634366510535151 6.216921945730806" rpy="-0.010022643396431868 1.1344011948887438 0.7214421111768077"/>
  </joint>
  <joint name="joint_0_3" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_3"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.7870391164922265 0.7810857663127208 7.556349353361472" rpy="-0.024305785891915812 1.3914612718147832 0.7281386518319579"/>
  </joint>
  <joint name="joint_0_5" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_5"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.12476727828770155 -0.5998633729683939 4.296899679114543" rpy="3.079098351452117 1.4733683601193215 1.756285325753975"/>
  </joint>
  <joint name="joint_0_7" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_7"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.36351290482586673 0.5453581534812476 3.112419596208696" rpy="-3.1160703711635125 1.366624938354344 -2.158305786277254"/>
  </joint>
  <joint name="joint_0_9" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_9"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5612723544291465 -0.4909022174266205 8.087735129774215" rpy="0.007295246375224855 0.9234189971235335 -2.3694170701238844"/>
  </joint>
  <joint name="joint_1_2" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.34401770263964276 0.3926231284229551 6.364084908895041" rpy="0.2501261110586436 0.21858712753122042 -2.4701402404254784"/>
  </joint>
  <joint name="joint_3_4" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_4"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.5329734428337829 0.7784132338263706 7.503890748118083" rpy="1.7131989758566484 0.15192496796058688 -2.1672709387986844"/>
  </joint>
  <joint name="joint_5_6" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_6"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.03921132961204884 -0.7369063994714083 4.160630645050237" rpy="-2.3936319136177335 0.040590170638648795 1.9471942603488996"/>
  </joint>
  <joint name="joint_7_8" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_8"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.3924320716197117 0.7541039778562021 3.168511367935043" rpy="0.9958926419923197 -0.5719965855841758 -2.6727427707384264"/>
  </joint>
  <joint name="joint_9_10" type="fixed">
    <parent link="branch_0"/>
    <child link="branch_10"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.5224923965520867 -0.3761405979638627 8.226277830904648" rpy="-0.29999096637379913 0.6032084574385688 0.7801711242913382"/>
  </joint>
  <material name="branch_material">
    <color rgba="1. 1. 1. 1."/>
  </material>
  <material name="semantic_material">
    <color rgba="1. 0. 0. 1."/>
  </material>
</robot>
